@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cesar Farias Blanco</h1>
    <h2>Soy Desarrollador full stack</h2>

    <img id="foto" src="~/imagenes/585e4bf3cb11b227491c339a.png" width="200px"/>
</div>
